<div class="heading">
  <h1>Project</h1>
</div>
<div class="options">
  <button (click)="showForm='form1'">Add Project</button>
  </div>
  <div class="tablecontainer">
  <table class="blueTable">
    <thead>
      <th>Project ID</th>
      <th>Project Name</th>
      <th>Project Remarks</th>
      <th>Update</th>
      <th>Delete</th>
      <th>Toggle</th>
    </thead>
    <tbody>
    <tr *ngFor="let pr of data" [class.disabled]="pr.status_id===2">
      <td>{{pr.id}}</td>
      <td>{{pr.name}}</td>
      <td>{{pr.remarks}}</td>
      <td><button (click)="displayUpdateForm(pr)" [disabled]="pr.status_id===2"><img src="https://img.icons8.com/?size=100&id=71201&format=png&color=000000" width="16px" height="16px"></button></td>
      <td><button (click)="returnId(pr)"><img src="https://img.icons8.com/?size=100&id=67884&format=png&color=000000"></button></td>
      <td><button (click)="toggleProject(pr.id)"></button></td>
    </tr>
  </tbody>
</table>
</div>
<div class="deleteBox"*ngIf="!!showDelete">
  <header>Confirm</header>
  <span>Are you sure you want to delete?<br>
    <button (click)="deleteProject(deleteid)">Yes</button>
    <button (click)="showDelete=false">No</button>
  </span>
</div>
<div *ngIf="showForm==='form1'" class="forms">
  <header>Add Project</header>
  <span>
    <label for="tagname">Project Name: </label>
    <input type="text" id="tagname" [(ngModel)]="proj_name">
    <small class="errormsg" *ngIf="!validate && proj_name===''">*Required</small><br>

  </span> 
  <textarea id="remarks" placeholder="Write remarks here" [(ngModel)]="proj_remarks"></textarea>
  <small class="errormsg" *ngIf="!validate && proj_remarks===''">*Required</small>

  <span class="formbuttons">
    <button  (click)="showForm='';validate=true">Close</button>
    <button (click)="addProject()">Submit</button>
  </span>

</div>

<div *ngIf="showForm==='form2'" class="forms">
  <header>Update Project</header>
  <span>
    <label for="tagname">Project Name: </label>
    <input type="text" id="tagname" [(ngModel)]="selectedUser.name">
  </span><br>
  <textarea id="remarks" placeholder="Write remarks here" [(ngModel)]="selectedUser.remarks"></textarea><br>
  <span class="formbuttons">
    <button  (click)="showForm=''">Close</button>
    <button (click)="updateProject()">Update</button>
  </span>
</div>


