<div class="maindiv">
    <div class="heading">
        <h1>User Groups</h1>
    </div>
    <div class="options">    
        <button (click)="showForm='form1'">Add Group</button>
        <button (click)="showForm='form2'">Update Permissions</button>
    </div>

    <div class="tablecontainer">
        <table class="blueTable">
            <thead>

            </thead>
        </table>
    </div>
    <div class="forms" *ngIf="showForm==='form1'" (keydown.escape)="showForm=''" tabindex="0">
        <header>Add Usergroup</header>
        <span>
            <label>Group Name: </label>
            <input [(ngModel)]="usergroupnm">
        </span><br>
        <div class="permspan">
            <span *ngFor="let perm of perms">
                <label>{{perm.perm_name}}:</label>
                <mat-checkbox [value]="perm.perm_name" (change)="hasChecked($event,perm.id)"></mat-checkbox>
            </span>
        </div>
        <div class="formbutton">
            <button (click)="showForm=''">Close</button>
            <button (click)="addGroup()">Submit</button>
        </div>

    </div>

    <div class="forms" *ngIf="showForm==='form2'">
        <header>Update Permissions</header>
        <span>
            <mat-form-field appearance="fill" class="custom-select">
                <mat-label>User Group</mat-label>
                <mat-select [(ngModel)]="selectedGroup" (ngModelChange)="showPerms()">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let group of grouplist" [value]="group.id" class="mat-option">
                        {{group.access_name}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
        </span>
        <div class="permspan">
            <span *ngFor="let perm of perms">
                <mat-checkbox
                [checked]="isPermissionSelected(perm.id)"
                (change)="checkedBox($event, perm.id)">
                {{ perm.perm_name }}
              </mat-checkbox>    
            </span>
        </div>
        <div class="formbutton">
            <button (click)="showForm=''">Close</button>
            <button>Submit</button>
        </div>
    </div>
    <p>{{selectedGroup}}</p>
</div>

