<div class="maindiv" [class.blurred]="showForm==='form1' || showForm==='form2'">
    <div class="heading">
        <h1>User</h1>
    </div>

    <div class="options">
    <button (click)="showForm='form1'">Add User</button>
    </div>
    <div class="tablecontainer">
    <table class="blueTable">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Projects</th>
            <th>Department</th>
            <th>Role</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pr of users">
            <td>{{pr?.user_id}}</td>
            <td>{{pr?.usernm}}</td>
            <td>{{pr?.email}}</td>
            <td>{{pr?.firstname}}</td>
            <td>{{pr?.lastname}}</td>
            <td>{{pr.projects}}</td>
            <td>{{pr?.department}}</td>
            <td>{{pr?.role}}</td>
            <td><button (click)="displayUpdateForm(pr)"><img src="https://img.icons8.com/?size=100&id=71201&format=png&color=000000" width="16px" height="16px"></button></td>
            <td><button (click)="returnId(pr)">Delete</button></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="deleteBox"*ngIf="!!showDelete">
        <header>Confirm</header>
        <span>Are you sure you want to delete?<br>
          <button (click)="deleteUser(deleteid)">Yes</button>
          <button (click)="showDelete=false">No</button>
          
        </span>
    </div>
</div>
<div *ngIf="showForm==='form1'" class="forms"  [class.addform]="!!addUser" >
    <header>Add User</header>
    <span>
        <label for="username">Username: </label>
        <input type="text" id="username" [(ngModel)]="usernm"><br>
        <small class="errormsg" *ngIf="!validate && usernm===''">*Required</small>
    </span>

    <span>
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" [(ngModel)]="firstnm">
        <small class="errormsg" *ngIf="!validate && firstnm===''">Required</small>
    </span>

    <span>
        <label for="passwd">Password: </label>
        <input type="text" id="passwd" [(ngModel)]="passwd">
        <small class="errormsg" *ngIf="!validate && passwd===''">Required</small>
    </span>

    <span>
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" [(ngModel)]="lastnm">
        <small class="errormsg" *ngIf="!validate && lastnm===''">Required</small>
    </span>

    <span>
        <label for="email">Email: </label>
        <input type="email" id="email" [(ngModel)]="email">
        <small class="errormsg" *ngIf="!validate && email===''">Required</small>
    </span>

    <span>
        <label for="department">Department: </label>
        <select id="department" [(ngModel)]="selectedDept">
            <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
        </select>
        <small class="errormsg" *ngIf="!validate && selectedDept===''">Required</small>
    </span>

    <span>
        <mat-form-field appearance="fill" class="custom-select">
            <mat-label>Projects</mat-label>
            <mat-select multiple [(value)]="selectedItems">
              <mat-option *ngFor="let project of dropdownList" [value]="project" class="mat-option">
                {{ project }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </span>
      <span>
        <mat-form-field appearance="fill" class="custom-select">
            <mat-label>User Group</mat-label>
            <mat-select [(ngModel)]="selectedGroup">
                <mat-option *ngFor="let group of usergrouplist" [value]="group.access_name">{{group.access_name}}</mat-option>
            </mat-select>
        </mat-form-field>
      </span>


    <span class="formbuttons">
        <button  (click)="closeForm()">Close</button>
        <button (click)="addUser()">Register</button>
    </span>
</div>

<div *ngIf="selectedUser && showForm==='form2'" class="forms">
    <header>Update User</header>
    <span>
        <label for="username">Username: </label>
        <input type="text" id="username" [(ngModel)]="selectedUser.usernm"> 
    </span>

    <span>
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" [(ngModel)]="selectedUser.firstname">
    </span>
    <span>
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" [(ngModel)]="selectedUser.lastname">
    </span>

    <span>
        <label for="email">Email: </label>
        <input type="email" id="email" [(ngModel)]="selectedUser.email">
    </span>

    <span>
        <label for="department">Department: </label>
        <select id="department" [(ngModel)]="selectedUser.department">
            <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
        </select>
    </span>

    <span>
        <mat-form-field appearance="fill" class="custom-select">
            <mat-label>Projects</mat-label>
            <mat-select multiple [(value)]="selectedUser.projects">
              <mat-option *ngFor="let project of dropdownList" [value]="project" class="mat-option">
                {{ project }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </span>

    <span>
        <mat-form-field appearance="fill" class="custom-select">
            <mat-label>User Group</mat-label>
            <mat-select [(ngModel)]="selectedUser.role">
                <mat-option *ngFor="let group of usergrouplist" [value]="group.access_name">{{group.access_name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </span>

    <br>
    <span class="formbuttons">
        <button  (click)="closeForm()">Close</button>
        <button (click)="updateUser()">Update</button>
    </span>
</div>