<nav mat-tab-nav-bar class="navbar" [tabPanel]="tabPanel">
    <a mat-tab-link class="tab"
       [routerLink]="'/manage/projects'"
       [active]="activeTab === 'projects'"
       (click)="activeTab = 'projects'">
      Project
    </a>
  
    <a mat-tab-link class="tab"
       [routerLink]="'/manage/user'"
       [active]="activeTab === 'users'"
       (click)="activeTab = 'users'">
      User
    </a>
  
    <a mat-tab-link class="tab"
       [routerLink]="'/manage/tag'"
       [active]="activeTab === 'tags'"
       (click)="activeTab = 'tags'">
      Tag
    </a>
  
    <a mat-tab-link class="tab"
       [routerLink]="'/manage/status'"
       [active]="activeTab === 'status'"
       (click)="activeTab = 'status'">
      Status
    </a>
  
    <a mat-tab-link class="tab"
       [routerLink]="'/manage/priority'"
       [active]="activeTab === 'priority'"
       (click)="activeTab = 'priority'">
      Priority
    </a>
</nav>
  
  <router-outlet></router-outlet>
  