<header class="mainhead" *ngIf="!isLoginPage">
  <button class="icon"><img src="https://img.icons8.com/?size=100&id=IZ8RAVASUArF&format=png&color=000000" alt="Icon"></button>
  <div class="user_profile" [class.profileclicked]="userclick"  (click)="profileToggle()">
    <span>
      <button><img src="https://img.icons8.com/?size=100&id=84898&format=png&color=000000"></button>
      <span>{{decodedToken.firstnm+" "+decodedToken.lastnm}}</span>
  </span>
  <button class="logout" *ngIf="userclick" (click)="logout()"><img src="https://img.icons8.com/?size=100&id=2445&format=png&color=000000"><span>LOG OUT</span></button>
  </div>
</header>
<div class="navdiv">
  <ng-container *ngIf="!isLoginPage">
  <nav class="sidebar">
    <button [routerLink]="'/manage'" [ngClass]="{'activeComp':router.url.startsWith('/manage')}" [class.activeComp]="activeComp==='manage'" (click)="activeComp='manage'" *ngIf="decodedToken.role==='Admin'"><img src="manage.png"><span>Manage</span></button>
      <button [routerLink]="'/view-issues'" [ngClass]="{'activeComp':router.url.startsWith('/view-issues')}" [class.activeComp]="activeComp==='view-issues'" (click)="activeComp='view-issues'"><img src="view_issues.png" alt="1"><span>View issues</span></button>
      <button [routerLink]="'/report-issue'" [ngClass]="{'activeComp':router.url === '/report-issue'}" [class.activeComp]="activeComp==='report-issues'" (click)="activeComp='report-issues'"><img src="report_issue.png" alt="2"><span>Report issue</span></button>
  </nav>
</ng-container>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>

