@use "variables" as v;

.sidebar{
    display:flex;
    flex-direction: column;
    height:76vh;
    width:25vh;
    background-color:v.$primary;
    margin-top:-2.5vw;
    margin-right:100px;
    margin-left:20px;
    grid-row:2/4;
    border-radius:20px 0px 20px 0px;
    box-shadow: 0px 5px 1px 2px rgba(0,0,0,0.15);
    padding:20px;
}
.sidebar button:not(.icon){
    display:flex;
    font-size:small;
    width:25vh;
    min-height:10px;
    border:0;
    margin:0;
    background-color:v.$primary;
    color:v.$fontclr_light;
    margin-bottom:5vh;    
    padding:10%;
    border-radius: 8px;
    box-shadow:  0px 0px 6px 2px  #00000026,
    0px 0px 5px 2px rgba(0,0,0,0.15);
    span{
        margin-left:10px;
        margin-top:10px;
    }
}

.sidebar button:hover:not(.activeComp){
    background-color:v.$hover;
    img{
        filter:invert(100%);
    }
    span{
        color:v.$fontclr_dark;
    }

}

.sidebar button.activeComp{
    background-color:rgb(255, 255, 255);
    background-color:v.$hover;
    img{
        filter:invert(100%);
    }
    span{
        color:v.$fontclr_dark;
    }
}

.mainhead{
    background-color: #ffffff;
    color:v.$fontclr_light;
    box-shadow: 0px 3px 5px rgb(0, 0, 0,0.2);
    position:relative;
    display:flex;    
    height:80px;
    width:97%;
    margin-left:10px;
    margin-right:10px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius: 30px;

}

.user_profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    z-index: 20;
    padding: 5px;
    background-color: v.$accent;
    margin-top: 10px;
    margin-left: 90vw;
    transition: all 0.3s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    span {
        position: sticky;
        display:flex;
        span{
            opacity: 0;
            transition: opacity 0.15s ease-in 0.15s;
            position: sticky;
            display: block;
        }
        button {
            background-color: #00000000;
            box-shadow: 0px 0px 5px 3px rgb(0, 0, 0,0.2);
            padding: 0;
            height: 50px;
            width: 50px;
            border: 0;
            border-radius: 50px;
        
            img {
              transition: all 0.3s ease-in-out;
              width: 50px;
              height: 50px;
            }
          }
          
    }
}


.user_profile.profileclicked{
    position: relative;
    margin-top:0px;
    margin-left:80vw;
    height:8vh;
    width:300px;
    border-radius: 20px 0px 0px 0px;
    padding:10px;
    span{
        position: absolute;
        
        span{
            opacity: 1;
            margin-left:20px;
            margin-top:10px;
        }
    }
    .logout{
        position: absolute;
        margin-top:4.6vw;
        margin-left:-0.65vw;
        width:100%;
        height:50%;
        border-radius: 0px 0px 20px 0px;
        border:0;
        background-color: v.$fontclr_light;
        display: flex;

        img{
            margin-top:10px;
            margin-left:10px;
        }
        
        span{
            margin-top:-2px;
            margin-left:40px;
        }

        &:hover{
            background:linear-gradient()
        }
    }
}