@use 'variables' as v;

.reportform{
    height:420px;
    padding:10px;
    width:85%;
    background-color:  rgb(255, 255, 255);
    display:grid;
    grid-template-columns: auto auto;
}

.reportform span:not(.file){
    display:grid;
    grid-template-columns:0.3fr 1fr;
    grid-template-rows:auto auto;
}

.reportform textarea{
    height:50px;
    width:200px;
    border-radius:5px;
}

.reportform select{
    width:150px;
}

.submit{
    position: absolute;
    width:20%;
    height:50px;
    border:0;
    margin-top:23vw;
    margin-left:55vw;
    border-radius:8px;
    color:v.$fontclr_light;
    background-color: v.$secondary;
}

.title{
    color:v.$fontclr_light;
    font-size: 28px;
    width:85%;
    margin-top:-20px;
    padding:10px;
    background-color: v.$secondary;
    border-radius:8px;
    box-shadow: 0px 5px 5px 0px  rgb(0, 0, 0,0.2);
}

@media (max-width:1440px){
    .reportform{
        grid-template-columns: 50% 50%;

        span{
            width: 80px;
            height:30px;

            label{
                width:80px;
            }

            select{
                
                width: 80px;
            }
            textarea{
                width:150px;
                height:30px;
            }
        }

        .submit{
            width:150px;
            margin:0;
            position: sticky;
            margin-bottom:-10%;
            margin-left:90%;
        }
    }

}