@use 'variables' as v;


.forms{ 
    height:650px;
    width:800px;
    top:2vw;


    .formbuttons{
        display:flex;
        flex-direction: row-reverse;
        position: sticky;
        height:max-content;
    }
}
